$primary-normal: #06121E;
$primary-dark: #040f1a;
$primary-light: #0c2135;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$secondary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #ffffff;
$white-dark: #EDEAEF;
$white-light: #fefbff;

$blue-normal: #5AD6FF;
$blue-dark: #00BDFD;
$blue-light: #C1F1FF;

$red-fechado: #d80000;