header{
    width: 100%;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-button{
    border: 2px solid $white-normal;
    padding: 8px 24px;
    border-radius: 4px;
    color: $white-normal;
    background-color: transparent;
    transition: background-color 0.8s;
}

.header-button:hover{
    border: 2px solid $blue-light;
    background-color: $blue-light;
    color: $black-normal;
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    width: 7rem;
}

@media screen and (max-width: 768px){
    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            font-size: 34px;
        }
    }

    .header-logo img{
        justify-content: center;
        align-items: center;
        width: 160px;
    }

    .header-button{
        display: none;
    }
}